

<h1>Tasks Index Page</h1>

<table class="task-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= link_to "Show", task_path(task), class: "view-link", html: { id: "show-task" } %></td>
        <td><%= link_to "Edit", edit_task_path(task), class: "view-link", html: { id: "edit-task" } %></td>
        <td><%= link_to "Destroy", task_path(task), method: :delete, data: { confirm: "Are you sure?" }, html: { id: "destroy-task" } %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back", tasks_path %>