<h1><%= t("new_task_page") %></h1>
<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@task.errors.count, "error") %> prohibited this <%= @task.title %> from being saved:</h2>
    <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @task, local: true) do |f| %>
  <%= f.label :title, t("activerecord.errors.attributes.task.title") %><br>
  <%= f.text_field :title %><br>
  <%= f.label :content, t("activerecord.errors.attributes.task.content") %><br>
  <%= f.text_area :content %><br>
  <%= f.label :deadline_on, t("activerecord.attributes.task.deadline_on") %><br>
  <%= f.date_field :deadline_on %><br>
  <%= f.label :priority, t("activerecord.attributes.task.priority") %><br>
  <%= f.select :priority, Task.priorities.keys, include_blank: true %><br>
  <%= f.label :status, t("activerecord.attributes.task.status") %><br>
  <%= f.select :status, Task.statuses.keys, include_blank: true %><br>
  <%= f.submit t("create_task"), id: "create-task" %><br>
<% end %>

<%= link_to t("back"), tasks_path, id: "back" %>