<h1><%= t("show_task_page") %></h1>

<div class="task-info">
  <div class="info-item">
    <span class="info-label"><%= t("activerecord.errors.attributes.task.title") %>:</span>
    <span class="info-value"><%= @task.title %></span>
  </div>

  <div class="info-item">
    <span class="info-label"><%= t("activerecord.errors.attributes.task.content") %>:</span>
    <span class="info-value"><%= @task.content %></span>
  </div>

  <div class="info-item">
    <span class="info-label"><%= t("activerecord.errors.attributes.task.created_at") %>:</span>
    <span class="info-value"><%= @task.created_at.strftime("%Y-%m-%d %H:%M:%S UTC") %></span>
  </div>
</div>
<div style="display: flex; align-items: center;">
  <%= link_to t("edit"), edit_task_path(@task), id: "edit-task" %>
  <p style="margin: 0 5px;">|</p>
  <%= link_to t("back"), tasks_path, id: "back" %>
</div>