<h1>Show Task Page</h1>

<div class="task-info">
  <div class="info-item">
    <span class="info-label">Title:</span>
    <span class="info-value"><%= @task.title %></span>
  </div>

  <div class="info-item">
    <span class="info-label">Content:</span>
    <span class="info-value"><%= @task.content %></span>
  </div>

  <div class="info-item">
    <span class="info-label">Created_at:</span>
    <span class="info-value"><%= @task.created_at.strftime("%Y-%m-%d %H:%M:%S UTC") %></span>
  </div>
</div>
<div style="display: flex; align-items: center;">
  <%= link_to "Edit", edit_task_path(@task), id: "edit-task" %>
  <p style="margin: 0 5px;">|</p>
  <%= link_to "Back", tasks_path, id: "back" %>
</div>